* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.second__section .card .card__right .card__btns button, .thirt__section .order__card .order__input .order__btn button, .second__section .about__us .about__us--btn button, .first__section .service__btns button, .navbar__in .navbar__left .nav__btn button, .topbar .top__right .top__btn button {
  padding: 8px 16px;
  color: #FFF;
  background-color: #00BAFC;
  border-radius: 5px;
  border: 2px solid transparent;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
}
.second__section .card .card__right .card__btns button:hover, .thirt__section .order__card .order__input .order__btn button:hover, .second__section .about__us .about__us--btn button:hover, .first__section .service__btns button:hover, .navbar__in .navbar__left .nav__btn button:hover, .topbar .top__right .top__btn button:hover {
  color: #00BAFC;
  border: 2px solid #00BAFC;
  background-color: #FFF;
}

.topbar {
  box-shadow: 0px 10px 50px -3px rgba(0, 0, 0, 0.1);
}
.topbar .topbar__display {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topbar .top__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 24px;
}
.topbar .top__right .top__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 32px;
  list-style: none;
}
.topbar .top__right .top__list .top__link {
  padding: 18px;
  text-decoration: none;
  font-size: 15px;
  line-height: 24px;
  color: #000;
}
.topbar .top__right .top__list .top__link:hover {
  border-bottom: 2px solid rgba(25, 25, 25, 0.6980392157);
}
.topbar .top__right .top__btn {
  padding: 8px 0;
}
.navbar__in {
  padding: 80px 0;
  display: flex;
  align-items: center;
  gap: 172px;
}
.navbar__in .navbar__left {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
}
.navbar__in .navbar__left h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  color: #000;
}
.navbar__in .navbar__left p {
  line-height: 24px;
  color: #000;
}
.first__section {
  padding: 56px 0;
}
.first__section .service__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  margin-bottom: 16px;
  color: #000;
}
.first__section .service__desc {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.first__section .service__desc p {
  max-width: 719px;
  color: #000;
  line-height: 24px;
}
.first__section .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 48px 70px;
  padding-top: 24px;
}
.first__section .cards .card {
  max-width: 320px;
  padding: 24px 58px;
  box-shadow: 0px 10px 10px -3px rgba(0, 0, 0, 0.1);
}
.first__section .cards .card .card__img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.first__section .cards .card h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  margin: 16px 0;
  color: #000;
}
.first__section .cards .card P {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  line-height: 24px;
}
.first__section .service__btns {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 16px;
}
.first__section .service__btns a {
  color: #00BAFC;
  line-height: 24px;
}

.second__section {
  padding: 56px 0;
}
.second__section .about__us .about__us--title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  margin-bottom: 16px;
  color: #000;
}
.second__section .about__us .about__desc {
  padding-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.second__section .about__us .about__desc p {
  max-width: 719px;
  color: #000;
  line-height: 24px;
}
.second__section .about__us .about__cards {
  display: flex;
  flex-direction: column;
  gap: 48px 0;
}
.second__section .about__us .about__card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 32px;
}
.second__section .about__us .about__card .about__card--title {
  display: flex;
  flex-direction: column;
  gap: 8px 0;
}
.second__section .about__us .about__card .about__card--title h3 {
  color: #000;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}
.second__section .about__us .about__card .about__card--title p {
  line-height: 24px;
}
.second__section .about__us .about__us--btn {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.thirt__section {
  padding: 56px 0;
  background-color: #00BAFC;
  color: #FFF;
}
.thirt__section .order__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  margin-bottom: 16px;
}
.thirt__section .order__desc {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.thirt__section .order__desc p {
  max-width: 719px;
  line-height: 24px;
}
.thirt__section .order__card {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}
.thirt__section .order__card .order__input {
  padding: 24px;
  background-color: #FFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px 0;
}
.thirt__section .order__card .order__input ::-moz-placeholder {
  padding: 16px 0 16px 16px;
  border-radius: 5px;
  background-color: rgb(190, 190, 190);
  outline: none;
  border: none;
  color: #000;
  font-size: 16px;
  line-height: 24px;
}
.thirt__section .order__card .order__input input, .thirt__section .order__card .order__input textarea, .thirt__section .order__card .order__input ::placeholder {
  padding: 16px 0 16px 16px;
  border-radius: 5px;
  background-color: rgb(190, 190, 190);
  outline: none;
  border: none;
  color: #000;
  font-size: 16px;
  line-height: 24px;
}
.thirt__section .order__card .order__input select, .thirt__section .order__card .order__input option {
  padding: 16px 0px 16px 16px;
  border-radius: 5px;
  background-color: rgb(190, 190, 190);
  outline: none;
  border: none;
  color: #000;
  font-size: 16px;
  line-height: 24px;
}
.footer {
  padding-top: 56px;
  padding-bottom: 120px;
  background-color: #000;
  color: #FFF;
}

.row {
  display: flex;
  gap: 0 100px;
}
.row .col1 p {
  max-width: 320px;
}
.row .col1 h3, .row .col2 h3, .row .col3 h3 {
  margin-bottom: 16px;
}
.row .col1 .footer__list, .row .col2 .footer__list, .row .col3 .footer__list {
  display: flex;
  flex-direction: column;
  gap: 8px 0;
  list-style: none;
}
.row .col1 .footer__list .footer__link, .row .col2 .footer__list .footer__link, .row .col3 .footer__list .footer__link {
  text-decoration: none;
  color: #FFF;
  display: flex;
  align-items: center;
  gap: 0 8px;
  border-bottom: 1px solid transparent;
  transition: 1s;
}
.row .col1 .footer__list .footer__link:hover, .row .col2 .footer__list .footer__link:hover, .row .col3 .footer__list .footer__link:hover {
  color: #00BAFC;
  padding-left: 20px;
}
.row .col1 .footer__list .footer__link svg:hover, .row .col2 .footer__list .footer__link svg:hover, .row .col3 .footer__list .footer__link svg:hover {
  color: #00BAFC;
  fill: #00BAFC;
}

* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.second__section .card .card__right .card__btns button, .topbar .top__right .top__btn button, .navbar__in .navbar__left .nav__btn button, .first__section .service__btns button, .second__section .about__us .about__us--btn button, .thirt__section .order__card .order__input .order__btn button {
  padding: 8px 16px;
  color: #FFF;
  background-color: #00BAFC;
  border-radius: 5px;
  border: 2px solid transparent;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
}
.second__section .card .card__right .card__btns button:hover, .topbar .top__right .top__btn button:hover, .navbar__in .navbar__left .nav__btn button:hover, .first__section .service__btns button:hover, .second__section .about__us .about__us--btn button:hover, .thirt__section .order__card .order__input .order__btn button:hover {
  color: #00BAFC;
  border: 2px solid #00BAFC;
  background-color: #FFF;
}

* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.second__section .card .card__right .card__btns button, .topbar .top__right .top__btn button, .navbar__in .navbar__left .nav__btn button, .first__section .service__btns button, .second__section .about__us .about__us--btn button, .thirt__section .order__card .order__input .order__btn button {
  padding: 8px 16px;
  color: #FFF;
  background-color: #00BAFC;
  border-radius: 5px;
  border: 2px solid transparent;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
}
.second__section .card .card__right .card__btns button:hover, .topbar .top__right .top__btn button:hover, .navbar__in .navbar__left .nav__btn button:hover, .first__section .service__btns button:hover, .second__section .about__us .about__us--btn button:hover, .thirt__section .order__card .order__input .order__btn button:hover {
  color: #00BAFC;
  border: 2px solid #00BAFC;
  background-color: #FFF;
}

.topbar {
  box-shadow: 0px 10px 50px -3px rgba(0, 0, 0, 0.1);
}
.topbar .topbar__display {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topbar .top__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 24px;
}
.topbar .top__right .top__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 32px;
  list-style: none;
}
.topbar .top__right .top__list .top__link {
  text-decoration: none;
  font-size: 15px;
  line-height: 24px;
  color: #000;
}
.topbar .top__right .top__btn {
  padding: 8px 0;
}
.navbar__in--service {
  padding: 80px 0;
}
.navbar__in--service .navbar__left--service h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #000;
  margin-bottom: 16px;
}
.navbar__in--service .navbar__left--service .navbar__desc--service {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.navbar__in--service .navbar__left--service .navbar__desc--service p {
  max-width: 800px;
  line-height: 24px;
  color: #000;
}

.second__section {
  padding: 80px 0;
}
.second__section .cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 64px 0;
}
.second__section .card {
  box-shadow: 0px 0px 42px -3px rgba(0, 0, 0, 0.1);
  padding: 32px;
  display: flex;
  align-items: center;
  gap: 0 40px;
}
.second__section .card .card__right h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}
.second__section .card .card__right p {
  margin: 16px 0;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}
.second__section .card .card__right .card__list {
  display: inline-block;
  flex-direction: column;
  gap: 8px 0;
  list-style: none;
}
.second__section .card .card__right .card__list .card__link {
  display: flex;
  align-items: center;
  gap: 0 8px;
  text-decoration: none;
  font-size: 16px;
  color: #000;
  line-height: 24px;
}
.second__section .card .card__right .card__btns {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 0 16px;
}
.second__section .card .card__right .card__btns a {
  color: #00BAFC;
  line-height: 24px;
}

.thirt__section {
  padding: 56px 0;
  background-color: #00BAFC;
  color: #FFF;
}
.thirt__section .order__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  margin-bottom: 16px;
}
.thirt__section .order__desc {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.thirt__section .order__desc p {
  max-width: 719px;
  line-height: 24px;
}
.thirt__section .order__card {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}
.thirt__section .order__card .order__input {
  padding: 24px;
  background-color: #FFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px 0;
}
.thirt__section .order__card .order__input ::-moz-placeholder {
  padding: 16px 0 16px 16px;
  border-radius: 5px;
  background-color: rgb(190, 190, 190);
  outline: none;
  border: none;
  color: #000;
  font-size: 16px;
  line-height: 24px;
}
.thirt__section .order__card .order__input input, .thirt__section .order__card .order__input textarea, .thirt__section .order__card .order__input ::placeholder {
  padding: 16px 0 16px 16px;
  border-radius: 5px;
  background-color: rgb(190, 190, 190);
  outline: none;
  border: none;
  color: #000;
  font-size: 16px;
  line-height: 24px;
}
.thirt__section .order__card .order__input select, .thirt__section .order__card .order__input option {
  padding: 16px 0px 16px 16px;
  border-radius: 5px;
  background-color: rgb(190, 190, 190);
  outline: none;
  border: none;
  color: #000;
  font-size: 16px;
  line-height: 24px;
}
.topbar {
  box-shadow: 0px 10px 50px -3px rgba(0, 0, 0, 0.1);
}
.topbar .topbar__display {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topbar .top__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 24px;
}
.topbar .top__right .top__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 32px;
  list-style: none;
}
.topbar .top__right .top__list .top__link {
  text-decoration: none;
  font-size: 15px;
  line-height: 24px;
  color: #000;
}
.topbar .top__right .top__btn {
  padding: 8px 0;
}
.navbar__in {
  padding: 80px 0;
}
.navbar__in .navbar__left h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #000;
  margin-bottom: 16px;
}
.navbar__in .navbar__left .navbar__desc {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.navbar__in .navbar__left .navbar__desc p {
  max-width: 800px;
  line-height: 24px;
  color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}