.footer{
    padding-top:56px;
    padding-bottom: 120px;
    background-color: $black;
    color: $white;
}

.row{
    display: flex;
    gap: 0 100px;

    .col1{
        p{
            max-width: 320px;
        }
    }

    .col1,.col2, .col3{
        h3{
            margin-bottom: 16px;
        }
        .footer__list{
            display: flex;
            flex-direction: column;
            gap: 8px 0;
            list-style: none;
            .footer__link{
                text-decoration: none;
                color: $white;
                @include display_center;
                gap: 0 8px;
                border-bottom: 1px solid transparent;
                transition: 1s;

                &:hover{
                    color: $blue;
                    padding-left: 20px;
                }

                svg:hover{
                    color:$blue;
                    fill: $blue;
                }
            }
        }
    }
}